body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background-color:rgb(40, 40, 40);
    color:rgb(197, 197, 194);
}

h5 {
    font-weight: 400;
}

.header {
    padding: 20px 50px;
    background-color:rgb(255, 208, 56);
    color: rgb(43, 42, 42);
}

.main {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.biblioteca {
    width: 80%;
}

.row {   
    padding: 25px 0;
}

.row-1 {
    background-color:rgb(29, 29, 29);
}

.container {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    flex-wrap: wrap;
}

.item {
    display: flex;
    flex-direction: column;
    width: 150px;
    align-items: center;
}

.item:hover {
    color: rgb(255, 255, 255);
}

span
{
    margin: 20px 0;
}

.charts {
    color: white;
    background-color: rgb(61, 61, 61);
    width: 20%;
    padding: 30px 0;
}

.column {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

@media (max-width:1092px) {
    .main {
        flex-direction: column;
    }

    .biblioteca {
        width: 100%;
    }

    .charts {
        width: 100%;
    }

    .column {
        flex-direction: row;
    }
}